<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Report 3</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list text-wrap>
     <ion-list-header>
            Detail
        </ion-list-header>
        <ion-item><strong>Name:</strong> Firdaus</ion-item>
        <ion-item><strong>Division:</strong> Multimedia</ion-item>
        <ion-item><strong>Date:</strong> 09/07/2017 - 22/07/2017</ion-item>
        <ion-list-header>
            Report
        </ion-list-header>
        <ion-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</ion-item>
        <ion-list-header>
            Next Two Week Plan
        </ion-list-header>
        <ion-item>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</ion-item>
    </ion-list>
</ion-content>
