<ion-header>
    <ion-navbar color="one">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Add Project</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-card-content>
            <form (ngSubmit)="sendForm()">
                <ion-item>
                    <ion-label stacked>Enter title</ion-label>
                    <ion-textarea fz-elastic type="text" [(ngModel)]="title" name="title"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Enter Description</ion-label>
                    <ion-textarea fz-elastic type="text" [(ngModel)]="description" name="description"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Enter Overall Plan</ion-label>
                    <ion-textarea fz-elastic type="text" [(ngModel)]="overallPlan" name="overallPlan"></ion-textarea>
                </ion-item>
                <button ion-button type="submit" block color="two">Add</button>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>
